<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cosmos Music Player.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>31</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>90B3662A18B962192571D0A1691A769791AC241B</string>
				<key>dateExpires</key>
				<string>05/09/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>lame.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mpg123.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ogg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>opus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sndfile.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>tta-cpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>vorbis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wavpack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>31</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>PC237X7NGJ.dev.clq.Cosmos-Music-Player.Share</string>
						<key>com.apple.developer.team-identifier</key>
						<string>PC237X7NGJ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.dev.clq.Cosmos-Music-Player</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Share.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>67e219ad-3fdb-4c11-8281-9f2dded0b7ab</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: dev.clq.Cosmos-Music-Player.Share</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>31</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>90B3662A18B962192571D0A1691A769791AC241B</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>PC237X7NGJ.dev.clq.Cosmos-Music-Player.SiriIntentsExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>PC237X7NGJ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.dev.clq.Cosmos-Music-Player</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SiriIntentsExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>cd752ba2-8823-4f94-ba0c-fbc6c1b1ae0d</string>
						<key>dateExpires</key>
						<string>05/09/2026</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: dev.clq.Cosmos-Music-Player.SiriIntentsExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PC237X7NGJ</string>
						<key>name</key>
						<string>Raphael Boullay Le Fur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PC237X7NGJ.dev.clq.Cosmos-Music-Player</string>
				<key>com.apple.developer.carplay-audio</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.dev.clq.Cosmos-Music-Player</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PC237X7NGJ</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.dev.clq.Cosmos-Music-Player</string>
				</array>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.dev.clq.Cosmos-Music-Player</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Cosmos Music Player.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4f5b42e0-fc14-4bd7-b2e1-f45bd66ab963</string>
				<key>dateExpires</key>
				<string>05/09/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dev.clq.Cosmos-Music-Player</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PC237X7NGJ</string>
				<key>name</key>
				<string>Raphael Boullay Le Fur</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
